# Dependencies
node_modules/
**/node_modules/
**/.cache/
**/build/
**/dist/

# Environment variables
.env
.env.*
**/.env
**/.env.*

# Build & cache
build/
dist/
.cache/
**/.cache/
**/default-development/

# Chrome drivers and large files
**/chromium/
**/.local-chromium/
**/Chromium Framework.framework/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
/coverage
**/coverage/

# Misc
.DS_Store
Thumbs.db